/* reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*Removes underlines*/
    scroll-behavior: smooth;
}

#CB {
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

@keyframes slideInFromRight {
    0% {
        left: 60%;
        width: 10%;
        opacity: 0%;
    }
    100% {
        left: 0px;
        width:100%;
        opacity: 100%;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Start below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End at original position */
    }
}

@keyframes flip {
    0% {
        transform: perspective(600px) rotateY(0deg);
    }
    50% {
        transform: perspective(600px) rotateY(180deg); /* Flip halfway */
    }
    100% {
        transform: perspective(600px) rotateY(360deg); /* Complete the flip */
    }
}

.flip {
    animation: flip 2s ease-in-out;
}

.animate {
    opacity: 0; /* Hidden by default */
}

.animate.fade-in-up {
    animation: fadeInUp 0.6s ease-in-out forwards; /* Animation properties */
}

.headerSlidable {
    animation: slideInFromRight 4s;
    animation-fill-mode: forwards;
}

.education__section .institutions {
    animation: fadeInUp 4s;
    animation-fill-mode: forwards;
}

body {
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden; /* nothing floating*/
    color: #cdcdcd;
    /* This is specificed for the Hamburger Menu */
    transition: margin 0.5s cubic-bezier(0.072, 0.2, 0.05, 1.0);
    margin-left: 0;
}

.menu__toggle {
    display: block;
    position: fixed;
    
    width: 32px;

    top: 50px;
    left: 50px;
    z-index: 1;
}

.background__circle {
    display: inline-block;
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #cecece;
    border-radius: 50%;
    top: 36px; /* Messed with this until it looked right*/
    left: 41px;

    z-index: 1;
}

.menu__toggle input[type="checkbox"] {
    display: block;
    width: 40px;
    height: 32px;

    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.menu__toggle span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: rgb(0, 0, 0);

    margin-bottom: 5px;

    position: relative;
    z-index: 1;
    /* Centers the 'x' in the menu */
    transform-origin: 4px 0px;
    transition: transform 0.5s  cubic-bezier(0.077, 0.2, 0.05, 1.0), opacity 0.5s ease;
}

.menu__toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg);
    background-color: #232323;
}

.menu__toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
}

.menu__toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg);
    margin-left: -2px;
}

.menu__link {
    position: absolute;
    width: 300px;
    height: 200vh; /*As far as visible */
    margin: -100px 0 0 -50px;
    padding: 125px 50px 50px 50px;

    background-color: #ededed;

    list-style: none;

    transform: translate(-100%, 0); /*to hide */
    transition: transform 0.5s cubic-bezier(0.077, 0.2, 0.05, 1.0);
}

/* Make the sections appear */
.menu__toggle input:checked ~ ul{
    transform: none;
}


.menu__link a{
    color: rgb(41, 56, 71);
}

.menu__link a:hover {
    color: orangered;
    transition: color 0.4s ease;
}

.menu__link li {
    padding: 10px 0;
    font-size: 22;
}

.main__header {
    position: relative;
    text-align: left;
    width: 100%;
    height: 50%;
    color: #ffffff;
    z-index: 0;
    margin-top: 0;
    padding: 20px 0 200px;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 100px), 0% 100%);
}

.main__header h1 {
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.3);
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(24, 166, 155, 1) 0%, rgba(9, 22, 121, 0.82) 33%, rgba(176, 0, 255, 1) 66%, rgb(90, 80, 80) 100%);
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    animation: slideInFromRight 5s;
    animation-fill-mode: forwards;
    transition: background-image 0.3s ease; /* Add smooth transition */
}


.main__header_background__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(public/assets/desktop__pen__paper__header__background.avif);
    background-size: cover;
    z-index: -1;
}

.main__header_background__image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Applies tint */
    z-index: -1;
}

.header__section__container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 5px;
}

.header__section__container img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 300px; 
    height: 300px; 
    object-fit: cover;
    object-position: 0% 5%;
    margin-top: 300px;
    transition: transform 0.6s; /* Smooth transition */
}

.header__section__container span {
    width: 5%;
}

.header__section__container img:hover {
    animation: flip 1s linear; /* 1 second for the flip on hover */
}

.main__header__text {
    padding-top: 250px;
    position: relative;
    display: block;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
}

.main__header__text .b{
    position: relative;
    display: block;
    color: #6999f0;
}

.education__section {
    top: 0;
    background-color: #232323;
    padding-left: 10vh;
    padding-right: 10vh;
    margin-top: -101px;
    position: relative;
    text-align: left;
    color: #ffffff;
    clip-path: polygon(0% 100px, 100% 0%, 100% calc(100% - 100px), 0% 100%);
    z-index: 0;
    overflow: hidden; /* Ensure content doesn't overflow from the clipped area */
    padding-top: 20vh;
    padding-bottom: 200px;
    z-index: -2;
}

.education__section__image {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(public/assets/black__coffee_table__keyboard__education__section__image.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.education__section h2 {
    font-size: large;
}

.education__section .vassar__education__section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 0;
    width: 85%;
    padding-right: 20px;
}

.education__section .institutions .education__wrapper {
    display: grid;
    margin: 10px;
    grid-template-columns: 4fr 2fr;
}

.education__section .institutions .education__left__side {
    padding-top: 20px;
    padding-left: 20px;
    overflow: visible;
    text-align: left;
}

.education__section .institutions .education__right__side {
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
}

.education__section .institutions p{
    padding-left: 100px;
}

.projects__section {
    top: 0px;
    background-color: #00491c;
    margin-top: -101px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 12vh;
    padding-left: 12vh;
    position: relative;
    text-align: left;
    width: 100%;
    height: 50%;
    color: #ffffff;
    clip-path: polygon(0% 100px, 100% 0%, 100% calc(100% - 100px), 0% 100%);
    z-index: 0;
    overflow: hidden; /* Ensure content doesn't overflow from the clipped area */
    padding-top: 200px;
    padding-bottom: 200px;
}

.projects__section h1 {
    padding-bottom: 2%;
    padding-left: 10%;
}

.container .header {
    font-size: 1.5em;
}

.projects__section .projects__section__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('public/assets/Designer.jpeg');
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.container {
    transition: height 0.6s ease-in-out;
    overflow: hidden; /* Ensures smoother transitions by hiding overflowing content */
    display: flex;
    max-width: 100;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;
    border-radius: 5%; 
    background-color: #160f0685;
}

.projects__section .filter-buttons {
    margin-bottom: 15px;
}

.projects__section .filter-buttons {
    margin-bottom: 20px;
    text-align: center;
}

.projects__section .filter-buttons button {
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    background: none;
    color: #333;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    font-family: 'Arial', sans-serif; /* Choose a modern font */
}

.projects__section .filter-buttons button:hover, button.active {
    border-bottom: 2px solid #009688; /* Change this color to your brand color */
    color: #009688; /* Text color change on hover */
}

.projects__section .filter-buttons button:focus {
    outline: none;
    border-bottom: 2px solid #009688;
    color: #009688;
}

.projects__section .project {
    height: 25vh;
    padding-top: 50%;
    /* color: blue; */
}

.projects__section .project img {
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 40%;
    height: 40%;
    border-radius: 10%;
    padding-right: 0;
} 

.projects__section .project img:hover {
    background-color: #000000;
    transform: scale(1.2);
}

.projects__section .project p {
    text-align: left;
    font-family: 'Arial';
    font-size: 0.5em;
    color: rgb(207, 207, 207);
    font-weight: normal;
} 

.img__one {
    background-image: url('https://cdn.britannica.com/95/124395-004-3B484C8B/hand-cards-trump-spades.jpg');
}

.img__two {
    background-image: url('public/assets/quick_connections_ss.png');
}

.img__three {
    background-image: url('https://cdn.pixabay.com/photo/2018/05/18/15/30/web-design-3411373_1280.jpg');
}

@media(max-width:1600px){
    .container {
        width: 100%;
    }
}

.get__in__touch {
    margin-top: -101px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 50%;
    color: #ffffff;
    clip-path: polygon(0% 100px, 100% 0%, 100% 100%, 0% 100%);
    z-index: 0;
    overflow: hidden; /* Ensure content doesn't overflow from the clipped area */
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: 0;
}

.get__in__touch h1 {
    color: #6999f0;
    font-size: 3em;
    padding-bottom: 70px;
}

.get__in__touch p {
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 40px;
}


.contact__background__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('public/assets/black_textured_background.jpg'); 
    background-size: cover;
    background-position: center;
    background-color: #361d1d;
    z-index: -3;
}

.contact__background__image::before{
    background-color: rgba(230, 134, 134, 0.5); /* Applies tint */
    z-index:-3;
}

/* Style all font awesome icons */
.fa {
    display: flex;
    cursor: pointer;
    padding: 30px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 50%;
}

.split {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

/* Split the section in two 'sections' */
.split > *{
	width: calc(50% - 2.5em);
}

.get__in__touch .split section h2 {
    padding-bottom: 5%;
    padding-top: 2%
}

.get__in__touch .split section .email {
    color: white;
}

.link__icons {
    position: relative;
    margin-bottom: 2%;
}
  
.fa {
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fa:hover {
    cursor: pointer;
    opacity: 0.7;
}

.fa-linkedin {
  background: #274c9b;
  color: white;
}

.fa-github {
  background: #161616;
  color: white;
}
